<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <%- include("partials/header.ejs")  %>

    <div class="container">
        <div class="focal">
            <h3>About Curtis' Coffee</h3>
            <p>If there is one thing about Curtis' Coffee that really stands out, it's how much time and effort go into the care of our customers. With every muffin, coffee, and anything else we sell,
                we make a donation back to the community. We are proud supporters of nearby schools, hospitals, and other local businesses. We are also proud to be a part of the American Heart Association,
                and we donate a portion of our profits to them. We are proud to be a part of the community, and we are proud to serve you! We started from very humble beginnings, and we are so grateful to
                be where we are today. We hope you enjoy our coffee, and we hope you enjoy our shop! It is a true pleasure to be in service to the community, and we hope to continue to do so for many years to come!
                Our team is made up of the best baristas in the world, and we are so grateful to have them. They are the reason we are able to serve you, and they are the reason we are able to give back to the community.
                They are a dedicated work force and have so much passion for what they do. We are so grateful to have them, and we hope you enjoy their service as much as we do! Thanks for your support, and enjoy your coffee!
            </p>
            <img src="images/baristas.jpeg" alt="" style="width: 40%;" class="barista-img">
            <img src="images/baristas1.jpeg" alt="" style="width: 40%;" class="barista-img">
            <img src="images/baristas2.jpeg" alt="" style="width: 40%;" class="barista-img">
            <img src="images/baristas3.jpeg" alt="" style="width: 40%;" class="barista-img">
        </div>
    </div>




    <%- include("partials/footer.ejs") %>
    
</body>
</html>