<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="container">
        <div class="focal">
            <h1>Menu</h1>

            <!-- This is where the seasonal items will go -->
            <div class="seasonal-items">
                <h3 class="sections">
                    Seasonal Items
                </h3>
                <div class="menu-card" style="width: 18rem;">
                    <img src="images/cherry-cocoa.jpeg" class="card-img-top" alt="..." style="width: 40%;">
                    <div class="card-body">
                      <h5 class="card-title">Cupids Cocoa</h5>
                      <p class="card-text">Our Special Cupids Cocoa! Hot Cocoa imbued with love from cupids arrow! A delicious Cherry Hot Chocolate!....6.65</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/red-velvet.jpeg" class="card-img-top" alt="..." style="width: 60%;">
                    <div class="card-body">
                      <h5 class="card-title">Red Velvet Latte</h5>
                      <p class="card-text">Red Velvet is an aquired taste, but if its yours, try this red velvet flavored latte!....4.25</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/croissant.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Heart Croissant</h5>
                      <p class="card-text">A heart shaped croissant drizzled in rasberry sauce!....3.75</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/heart-muffins.jpeg" class="card-img-top" alt="..." style="width: 65%;">
                    <div class="card-body">
                      <h5 class="card-title">Heart Shaped Muffin</h5>
                      <p class="card-text">A delicious heart shaped vanilla muffin with a rasberry on top and powdered sugar.....4.35</p>
                    </div>
                </div>
            </div>

            <!-- This is where the hot drinks will go -->
            <div class="hot-drinks">
                <h3 class="sections">
                    Hot Drinks
                </h3>
                <div class="menu-card" style="width: 18rem;">
                    <img src="images/chai.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Chai Latte</h5>
                      <p class="card-text">A Chai Latte worth writing home about! A delicious tea with a hint of cinnamon.....6.15</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/lavender-latte.jpeg" class="card-img-top" alt="..." style="width: 58%;">
                    <div class="card-body">
                      <h5 class="card-title">Lavender Latte</h5>
                      <p class="card-text">This lavender latte is the perfect drink to relax to. A perfect balance of lavender and espresso.....4.25</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/drip.jpeg" class="card-img-top" alt="..." style="width: 60%;">
                    <div class="card-body">
                      <h5 class="card-title">Drip Coffee</h5>
                      <p class="card-text">A classic housebrew drip coffee....3.25</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/affogato.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Affogato</h5>
                      <p class="card-text">2 shots of espresso poured over a scoop of vanilla ice cream.....6.50</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/latte.jpeg" class="card-img-top" alt="..." style="width: 50%;">
                    <div class="card-body">
                      <h5 class="card-title">Latte</h5>
                      <p class="card-text">Completely customizable latte. Whatever you want in it!.....4.25</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/cappuccino.jpeg" class="card-img-top" alt="..." style="width: 60%;">
                    <div class="card-body">
                      <h5 class="card-title">Cappuccino</h5>
                      <p class="card-text">A foamy cappaccino with any flavor you want!.....4.25</p>
                    </div>
                </div>
            </div>


            <!-- This is where the cold drinks will go -->
            <div class="cold-drinks">
                <h3 class="sections">Cold Drinks</h3>
                <div class="menu-card" style="width: 18rem;">
                    <img src="images/iced-coffee.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Iced Coffee</h5>
                      <p class="card-text">A simple iced coffee with whatever flavors you could want....3.75</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/frap.jpeg" class="card-img-top" alt="..." style="width: 70%;">
                    <div class="card-body">
                      <h5 class="card-title">Frappuccino</h5>
                      <p class="card-text">A blended delicacy with whatever flavors you want!....7.25</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/iced-latte.jpeg" class="card-img-top" alt="..." style="width: 60%;">
                    <div class="card-body">
                      <h5 class="card-title">Iced latte</h5>
                      <p class="card-text">Latte...But Iced with whatever flavors you could want!....4.25</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/milkshake.jpeg" class="card-img-top" alt="..." style="width: 60%;">
                    <div class="card-body">
                      <h5 class="card-title">Milkshake</h5>
                      <p class="card-text">Comes in coffee, chocolate, strawberry, and vanilla. Classic Milkshake.....5.75</p>
                    </div>
                </div>
            </div>


            <!--This is where the pastries will go -->
            <div class="pastries">
                <h3 class="sections">Pastries</h3>
                <div class="menu-card" style="width: 18rem;">
                    <img src="images/choco-croissant.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Chocolate Croissant</h5>
                      <p class="card-text">A chocolate filled croissant....4.65</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/danish.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cream Cheese Danish</h5>
                      <p class="card-text">A delicious cream cheese danish...3.75</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/vanilla-cake.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Vanilla Cake</h5>
                      <p class="card-text">A slice of classic vanilla cake....2.75</p>
                    </div>
                </div>

                <div class="menu-card" style="width: 18rem;">
                    <img src="images/muffins.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Muffins</h5>
                      <p class="card-text">A variety of homemade muffins!....4.25</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>