<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs")  %>
    <div class="container">
        <div class="focal">
            <h1>Success!</h1>
            <h2>Thank you for signing up!</h2>
            <h3>Check your email for a confirmation!</h3>
            <h4>Make sure to check your junk folder!</h4>
        </div>
    </div>
</body>
</html>